.newPromoBg{
    /* background-image: url("/assets/images/newPromoBg.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:750px;
    width: 100%;
    padding-top: 80px;
    /* padding-left: 10vw; */
   display: flex;
   align-items: center;
   background: #212224;
}
.mt4Bg{
    background-image: url("/assets/images/mt4bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    width: 100%;
    padding-top: 80px;
    padding-left: 10vw;
   display: flex;
   align-items: center;
}
.mt5Bg{
    background-image: url("/assets/images/mt5bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    width: 100%;
    padding-top: 80px;
    padding-left: 10vw;
   display: flex;
   align-items: center;
}
.ter_bg{
    background-image: url("/assets/images/termonology.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    width: 100%;
    padding-top: 80px;
    padding-left: 10vw;
   display: flex;
   align-items: center;
}
.islamic_bg{
    background-image: url("/assets/images/islamic_bg.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    width: 100%;
    padding-top: 80px;
    padding-left: 10vw;
   display: flex;
   align-items: center;
}
.whiteBg{
    background-image: url("/assets/images/wt_bg1.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    width: 100%;
    padding-top: 80px;
    padding-left: 10vw;
   display: flex;
   align-items: center;
}
.social_bg2{
    background-image: url("/assets/images/social_sec_2.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height:350px;
    width: 100%;
    /* padding-top: 80px; */
    padding-left: 10vw;
   display: flex;
   align-items: center;
}
.affliateBg{
    background-image: url("/assets/images/affiliyatebg.png");
    background-position: top;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    width: 100%;
    padding-top: 80px;
    padding-left: 10vw;
   display: flex;
   align-items: center;
}
.mt4title{
    font-size: 38px;
    color: #090d1c;
    font-weight: bolder;
    text-align: center;
    padding: 30px;
}
.social_bg{
    background-image: url("/assets/images/socialtrading.jpg");
    background-position: top;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    width: 100%;
    padding-top: 80px;
    padding-left: 10vw;
   display: flex;
   align-items: center;
}
.refferBg{
    background-image: url("/assets/images/referafriendbanner.jpg");
    background-position: top;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    width: 100%;
    padding-top: 80px;
    padding-left: 1vw;
   display: flex;
   align-items: center;
}
.atitle{
    font-size: 48px;
    color: #fff;
    font-weight: bolder;
    text-align: center;
    padding: 30px;
}
.stitle{
    font-size: 48px;
    color: #fff;
    font-weight: bolder;
    text-align: center;
    /* padding: 30px; */
}
@media screen and (max-width:480px){
        .atitle{
            font-size: 30px !important;
        }
        .mt4title{
            font-size: 20px !important;
        }
        .mt4_graph{
            text-align: center !important;
        }
        .mt4title_{
            font-size: 50px !important;
        }
        .social_bg2{
            height: 650px !important;
        }
}
.acard_img{
    /* width: 140px; */
    height: 120px;
    text-align: left;
    margin-left: auto;
}
.bt4_bottom{
    background-color: #090d1c;
}
.card_title_bg{
    background-color: #f7f7f7;
    margin: 0;
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
  }
.card-body-text{
    font-size: 14px;
}
.mt4icontop{
    width: 230px;
}
.mt4icons{
    width: 50px;
    cursor: pointer;
    margin-top: 17px;
}
.mt4_graph{
    text-align: right;
    width: 70%;
}
.download_mmt4{
    background-color: #0180f0;
    padding: 5px;
    border-radius: 1px;
    color: #fff;
}
.arrow_img{
    height: 120px;
    margin-left: auto;
    text-align: right;
    margin-top: -30px;
}
.card_light{
    background-color: #f9e7f3;
}
.card_dark{
    background-color: #090d1c;
}
.acard_text{
    color: #090d1c;
    font-size: 16px;
    padding: 20px;
    font-weight: 400;
}
 .title_{
    font: bold 62px gothic  ;
    color: #fff;
}
.mt4title_{
    font: bold 62px gothic  ;
    color: #fff;
}
.socialtitle_{
    font: bold 38px gothic  ;
    color: #fff;
}
.title2{
    font: bold 30px gothic  ;
    color: #fff;
}
.affliateBg .title2{
    font: bold 30px gothic  ;
    color: #fff;
}
.newPromoBg .title{
    font: bold 25px gothic  ;
    color: #fff;
}
.newPromoBg .text{
    font: bold 12px gothic  ;
    color: #fff;
    margin-top: 10px;
}
.newPromoBg .perText{
    font: bolder 70px gothic !important  ;

    color: #3f88fc;
}
.newPromoBg .titleLg{
    font-size: 40px;
    font-weight: bolder;
}
.newPromoBg .title2{
    padding: 30px 0;
}
.newPromoBg .btnRegister{
background-color: #3f88fc;
border: none;
padding: 10px 10px;
font: bold 23px gothic;
color: #fff;

}

/* promo Upto sec */

.promoUpto .mainFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.promoUpto .contentSec .title{
    font: bolder 20px gothic ;
    color: #3f88fc;
    margin-bottom: 30px;
    margin-top: 30px;
}
.promoUpto .point {
  margin-bottom: 20px;
  font: 15px gothic;
}
.promoUpto .point .pointDone {
    display: inline;
   width: 30px;
   flex-shrink: 0;
}
.promoUpto .imgSec .img{
    width: 100%;
}

/* open acc */
.promoOpenAcc{
 background-color: #090d1c;

 padding-bottom: 50px;
}
.promoOpenAcc .mainFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.promoOpenAcc .contentSec .number{
    font: bolder 100px gothic;
    color: #0180f0;

}

.promoOpenAcc .contentSec .textFlex{
    display: flex;
    align-items: center;

}
.promoOpenAcc .contentSec .innerTextFlex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   height: 100%;


}
.promoOpenAcc .contentSec .title{
    font: bolder 20px gothic;
    margin-bottom: 20px;

}
.promoOpenAcc .contentSec .text{
    font:  15px gothic;

}
.promoOpenAcc  .img{
    width: 100%;
}
.promoOpenAcc .btnFlex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
}
.promoOpenAcc .btnAcc{
    border: none;
    padding: 10px 20px;
    font: 700 12px gothic;
    margin-bottom: 20px;
}
.promoOpenAcc .liveAccBtn{
    background-color: #0094D0;
    color: #fff;

}
.promoOpenAcc .demoAccBtn{
    background-color: #fff;

}

/* promoDesposite */

.promoDeposit .mainFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.promoDeposit .textDiv{
    position: relative;
}
.promoDeposit .contentSec .number{
    font: bolder 100px gothic;
    color: #3f88fc;

}
.promoDeposit  .img{
    width: 90%;
}
.promoDeposit .contentSec .title{
    font: bolder 20px gothic;
   position: absolute;
  left: 40px;
   bottom: 0;

}
.promoDeposit .contentSec .text{
    font:  15px gothic;
margin-top: 40px;
}
.promoDeposit{
    padding-top: 20px;
    padding-bottom: 50px;
}

/* bonus css */
.promoBonus{
    padding-top: 0;
    padding-bottom: 0;
    background-color: #3f88fc;
}

.promoBonus .mainFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.promoBonus  .img{
    width: 100%;
}
.promoBonus  .title{
    font: bolder 20px gothic;
  color: #fff;
  margin-top: 20px;

}
.promoBonus  .text{
    font:  15px gothic;
margin-top: 40px;
color: #fff;
margin-bottom: 20px;
}
.colorPromo{
    color: #3f88fc;

}
/* promoTrade */
.promoTrade .mainFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.promoTrade .textDiv{
    position: relative;
}
.promoTrade .contentSec .number{
    font: bolder 100px gothic;
    color: #3f88fc;

}
.promoTrade  .img{
    width: 100%;
}
.promoTrade .contentSec .title{
    font: bolder 20px gothic;
   position: absolute;
  left: 50px;
   bottom: 10px;

}
.promoTrade .contentSec .text{
    font:  15px gothic;
margin-top: 40px;
}
.promoTrade{
    padding-top: 20px;
    padding-bottom: 50px;
}
.promoTrade .getStarted{
    border: none;
    background-color: #3f88fc;
    color: #fff;
    font: bold 20px gothic;
    padding: 10px 20px;
    margin-top: 40px;
}
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .newPromoBg .title{
        font: bold 35px gothic  ;

    }
    .newPromoBg .text{
        font: bold 15px gothic  ;
        color: #fff;
        margin-top: 10px;
    }
    .newPromoBg .perText{
        font: bolder 120px gothic !important  ;
    }
    .newPromoBg .titleLg{
        font-size: 60px;
    }
    .newPromoBg .title2{
        padding: 30px 0;
    }
    .newPromoBg .btnRegister{

    padding: 15px 15px;
    font: bold 28px gothic;
    margin-top: 20px;


    }
    .promoUpto{
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
    }
    .promoUpto .contentSec{
        flex:0.5
    }
    .promoUpto .imgSec{
        flex:0.5
    }
    .promoUpto .mainFlex{

        align-items: flex-start;


    }
    .promoUpto .point {

        font: 20px gothic;
      }
      .promoUpto .contentSec .title{
        font: bolder 40px gothic ;

    }

    .promoUpto .point .pointDone {
        display: inline;
       width: 40px;
       flex-shrink: 0;
    }
    .promoOpenAcc .contentSec .title{
        font: bolder 35px gothic;
        margin-bottom: 40px;

    }
    .promoOpenAcc .contentSec .text{
        font:  20px gothic;

    }
    .promoOpenAcc .contentSec .number{
        font: bolder 20vw gothic;

    }
    .promoDeposit .contentSec .number{
        font: bolder 20vw gothic;

    }
    .promoDeposit .contentSec .title{
        font: bolder 35px gothic;
       position: absolute;
      left: 50px;
       bottom: 40px;

    }
    .promoDeposit .contentSec .text{
        font:  20px gothic;
    margin-top: 40px;
    }
    .promoBonus  .title{
        font: bolder 35px gothic;
      color: #fff;
      padding-top: 70px;

    }
    .promoBonus  .text{
        font:  20px gothic;
    margin-top: 200px;
    color: #fff;
    padding-bottom: 70px;
    }


    .promoTrade .contentSec .number{
        font: bolder 20vw gothic;
        color: #3f88fc;

    }

    .promoTrade .contentSec .title{
        font: bolder 35px gothic;
       position: absolute;
      left: 150px;
       bottom: 70px;

    }
    .promoTrade .contentSec .text{
        font:  20px gothic;
    margin-top: 40px;
    }

    .promoTrade .getStarted{
        border: none;
        background-color: #3f88fc;
        color: #fff;
        font: bold 30px gothic;
        padding: 10px 20px;
        margin-top: 50px;
    }

 }
